.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-top: 40vh;
    background-color: rgba(0,0,0,.6);
    z-index: 2;
    
    &_content{
        position: relative;
        display: block;
        min-height: 100px;
        width: 500px;
        transform: translateY(-50%);
        background-color: #FFFFFF;
        margin: 0 auto;
        padding: 20px;
        border-radius: 5px;
        color: #000000;

        .employee_to_choose-item{
            text-align: center;
            margin: 5px 0;
            border: 1px solid #000000;
            border-radius: 5px;
            cursor: pointer;
            &:hover{
                background-color: rgba(17, 0, 255, 0.2);
                transition: .3s all;
            }


        }
        .btn{
            display: block;
            margin: 30px auto 0 auto;
        }

    }

    &__title{
        text-align: center;
        font-size: 30px;
    }

    .close_btn{
        position: absolute;
        top: -35px;
        right: -50px;
        color: #1a156a;
        font-size: 40px;
        transform: rotate(45deg);
        cursor: pointer;
    }

    .popup__content-wrapper{
        margin-top: 15px;
        .add_task_form{
            width: 100%;
        }
    }

    .button_task{
        display: block;
        margin: 0 auto;
        margin-top: 25px;
        width: 300px;
        height: 50px;
    }

}

.add_new_task{

    border: none;
    border-radius: 5px;
    background-color: rgba(20, 28, 115, 0.2);


    display: flex;
    margin: 20px 15px 0 15px;
    min-height: 200px;   
    justify-content: space-between;
    padding: 30px;

    .inputs{
        width: 100%;
        margin-right: 50px;
    }

    &-button{
        width: 200px;
        height: 50px;
    }

    &-input{
        width: 100%;
        height: 50px; 
        font-size: 22px;
        padding-left: 40px;
        border-radius: 5px;
        border: none;
    }

    &-information{
        margin-top: 30px;
        height: 80px;
        padding-top: 10px;
    }
}