.employees_list{
    margin-top: 60px;

    &-item{
        border: none;
        border-radius: 5px;
        background-color: rgba(20, 28, 115, 0.2);
        margin: 10px 15px;
        padding: 10px 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 21px;
        &:hover{
            background-color: rgba(20, 28, 115, 0.5);
            transition: .2s all;
        }

        &-name{
            width: 30%;
            color: #FFFFFF;
        }

        button{
            font-size: 17px;
            width: 130px;
        }
    }
}

