.deals{
    margin-top: 60px;

    &_item{
        border: none;
        border-radius: 5px;
        background-color: rgba(20, 28, 115, 0.2);
        margin: 10px 15px;
        padding: 10px 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 21px;
        &:hover{
            background-color: rgba(20, 28, 115, 0.5);
            transition: .2s all;
        }

        &-text{
            display: flex;
            color: #FFFFFF;
        }

        &-title{
            margin-left: 10px;
        }

        &-perfomer{
            width: 15%;
            color: #FFFFFF;
        }
        &-buttons{
            width: 20%;
            display: flex;
            justify-content: space-around;
            button{
                font-size: 17px;
                width: 130px;
            }
        }
    }
}

